body {
    font-family: "Roboto", serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1, .header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar a {
    text-decoration: none;
    padding: 12px;
}

.hero {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.nav-links a, .secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.img-place {
    background-color: rgb(136, 135, 135);
    width: auto;
    height: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-hero, .right-hero {
    flex: 1;
    margin: 44px 20px;
    padding: 20px 0px;
}

.left-hero button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 800;
}

.info {
    text-align: center;
    margin-top: 44px;
    margin-bottom: 100px
}

.card-section {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
}

.card {
    width: 150px;
}

.card p {
    color: #6e6f70;
    width: 100px;
    margin: auto;
    margin-top: 6px;
}

.card-image {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: auto;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-container {
    margin: auto;
    width: 800px;
}

.author {
    font-weight: 800;
    text-align: right;
}

.cta-section {
    margin: 100px;
}

.cta-modal {
    background-color: #3882F6;
    border-radius: 8px;
    margin-top: 24px;
    width: 800px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.cta-content {
    color: #F9FAF8;
}

.cta-content p {
    margin: 0;
}

.cta-content .main-text {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 800;
}

.cta-modal button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 14px;
}

.footer {
    background-color: #1F2937;
    padding: 40px;
    color: #F9FAF8;
    text-align: center;
}