body {
    font-family: "Roboto", serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1, .header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar a {
    text-decoration: none;
    padding: 12px;
}

.hero {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.nav-links a, .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 24px;
}

.img-place {
    background-color: rgb(136, 135, 135);
    width: auto;
    height: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-hero, .right-hero {
    flex: 1;
    margin: 44px 20px;
    padding: 20px 0px;
}

.info {
    text-align: center;
    margin-top: 44px;
    margin-bottom: 100px
}

.card-section {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

.card-image {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: auto;
}